@import url(sanitize.css);

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

#btn2{
    background-color: #2DA2BC;
}

.tweets_form{
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2FBEC7;
    
} 

.create{
    
    width: 100%;
    height: 200px;
    border: solid #A8A8A8;
    background-color: #FFF;
    border-width: 0.5px;
    text-align: left;
    padding: 20px 5% 20px 5% ;
    width: 97%;
    margin-left: 1.5%;
    resize: none;

}
.contents{
    /* border: 1px solid #A8A8A8; */
    width: 500px;

} 

.type_box{
    width: 100%;
    display: flex;
}

.types{
    width: 50%;
    display: flex;
}

.radios{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
} 

.positive{
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin-left: 10%;
    color: #D85538;
}

.negative{
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    color: #B367FF;
}

.do{
    background: #2FBEC7;
    border: 1px solid #2DA2BC;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
}

/* .undo{
    background: #2FBEC7;
    border: 1px solid #2DA2BC;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    
} */

