@import url(sanitize.css);

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

html{
    min-height: 100vh;
    width: 100%;
}

html::-webkit-scrollbar {
    display:none;
}

body{
    height: 100%;
    margin:0 ;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
}

.menu{
    height: 17vh;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
    box-sizing:border-box;
    z-index: 5;
}

header{
    height: 40%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #EFEFEF;
}


#head_left_names,#site_name,#logout{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11pt;
    color: #2FBEC7;
   
}

#head_left_names{
    position: absolute;
    margin-left: 2%;
    left: 0;
    width: max-content;
}

#hospital_name,#account_name{
    word-break: keep-all;
    display: inline-block;
    position:static;
    width: max-content;
    left: 0;
    margin-left: 5%;
    text-align: left;
}

#site_name{
    font-size: 16pt;
}

#logout{
    position: absolute;
    right:0;
    margin-right: 2%;
}

nav{
    height: 60%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color:#2FBEC7;
    border-bottom:solid #2DA2BC;

}

.menu_btn{
    height: 100%;
    width: 13.5%;
    text-align: center;
    background-color:#2FBEC7;
    border-left:solid #2DA2BC;
    text-decoration: none;
}

.menu_icon{
    height: 70%;
}

.menu_text{
    margin-bottom: 0;
    height: 30%;
    color: #FFF;
    text-decoration: none;
    font-size: 9pt;
}

#btn6{
    border-right:solid #2DA2BC;
}

.contents{
    width:50%;
    margin-top: 17vh;
    padding-top: 2%;
    clear: both;
}

.content{
    height: 100%;
    width: 100%;
    display: block;
}

.footer{
    position: fixed;
    overflow: hidden;
    box-sizing:border-box;
    width: 100%;
    height: 6vh;
    bottom: 0;
    background-color:#dbdbdb;
}

footer{
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    z-index: 5;
}
