*{
    margin:0px 0px 0px 0px;
}

html{
    text-align:center;
    position:relative;
    margin-top:100px;
}

.icon_frame{
    width:30px;
    height:30px;
    color: #333333;
    background: color #2FBEC7; ;
    border: #555;
    margin:0px 0px 0px 250px;
}

.my_nickName{
    flex: color #2FBEC7;
    font-size: 40px;
}

.my_trueName{
    text-color:#2FBEC7;
}

.my_likeCount{
    text-color:#fff;
    border: #555;
}

.myprofile{
    text-color:#fff;
    background-attachment: #2FBEC7;
}

