* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

#btn1{
    background-color: #2DA2BC;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    width: 100%;
}

.afterbutton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    width: 100%;
}

form{
    width: 100%;
    display: block;
}

.tweet_frame{
    width: 100%;
    background-color: #F6FDFF;
    border: solid #C4C4C4;
    border-bottom: solid #A8A8A8;

}


.tweet_head{
    width: 100%;
    height: 8vh;
    display: flex;
    position: relative;

}

.icon_frame{
    display: flex;
    max-width: 50px;
    justify-content: center;
    align-items: center;
    width: 14%;
    left: 0;
    padding: 0 auto;
}

.icon{
    width: 80%;
    height: 80%;
    max-height: 100px;
    border-radius: 45%;
    border-width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
}

.other_name{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555555;
    font-size: 13pt;
    margin-left: 1.5%;
}

.tweet_params{
    margin-left: auto;
    margin-top: 5px;
    width: 15%;
    height: 100%;
    margin-right: 1.5%;
}

.negaposi{
    background-color: #2DA2BC;
    color: #FFF;
}


.tweet_time{
    font-size: 9pt;
    width: 100%;
    text-align: right;
    color: #555555;
}

.tweet_content{
    border: solid #A8A8A8;
    background-color: #FFF;
    border-width: 0.5px;
    text-align: left;
    padding: 20px 10% 20px 10% ;
    width: 97%;
    margin-left: 1.5%;
}

.tweet_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
}


.delete_btn_frame{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 15%;
    margin-right: 1.5%;
}
.tweet_delete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;
    background-color: tomato;
    border-radius: 5px;
    color: #FFF;
}
