*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    border: solid red;
}


header{
    height: 6%;
    border: solid blue;
    display: flex;

}


#hospital_name,#account_name,#site_name,#logout{
    height: 100%;
    border: solid lime;
}

#logout{
    margin-left: auto;
}

.menu_bar{
    height: 10%;
    border: solid green;
}

.side_bar{
    height: 84%;
    border: solid violet;
}